@font-face {
    font-family: nu;
    src: url(webfont/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: pop;
    src: url(font/Poppins-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pop';
    
}
body{
    height: 500vh;
}

.header-wrapper{
    width: 100%;
    height: 12vh;
    background: #fff;
    box-shadow: 0 0px 0px ;
}
.header{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    width: 0px;
    height: auto;
    margin-top: 7px;
    cursor: pointer;
}

h2{
    font-weight: 100;
    margin-left: -250px;
    font-size: 20px;
}

ul.navbar{
    list-style: none;
    margin: 0%;
    padding: 0;
    z-index: 1;
}
ul.navbar li{
    display: inline-flex;
    padding-left: 50px;
}
ul.navbar li a{
    text-decoration: none;
    color: #333333;
}
ul.navbar li a:hover{
    color: #3AB5C6;
}

.container{
    width: 100%;
    height: 88vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./image/image10.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.content{
    width: 85%;
    margin: auto;
}

.content-desc{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.content-desc h1{
    font-size: 50px;
}

.content-desc p{
    margin: 10px 0 40px;
    color: #fff;
}







.hero-btn{
    display: inline-block;
    text-decoration: none;
    background-color: #3AB5C6;
    color: #fff;
    border: 1px solid #3AB5C6 ;
    border-radius: 10px;
    padding: 15px 73px;
    position: relative;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background 1s;
}

.hero-btn:hover{
    background: #137c8a;
   
}

.course{
    width: 80%;
    height: 40vh;
    margin: auto;
    text-align: center;
    padding-top: 100px;
   
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    font-size: 16px;
    font-family: -webkit-pictograph;
    margin-top: 35px;
    word-spacing: 9px;
    line-height: 25px;
}


.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff;
    border-radius: 1px;
    margin-bottom: 5%;
    padding: 70px 12px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0px  rgba(0,0,0,0.2);
    cursor: pointer;


}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}


.about-us{
    width: 100%;
    height: 12vh;
}
.border{
    position: absolute;
    width: 400px;
    height: 420px;
    left: 109px;
    top: 1400px;
    border: 14px solid #3AB5C6;
    box-sizing: border-box;
    border-top: none;
    border-right: none;

}

.border-image{
    position: absolute;
    width: 450px;
    height: 446px;
    left: 147px;
    top: 1337px;
    background-image: url(./image/image.jfif);
}

.grid-text {
    position: absolute;
    font-family: Pop;
    font-style: regular;
    font-size: 26px;
    line-height: 36px;
    line-height: 100%;
    align-items: left;
    vertical-align: top;
    top: 1393px;
    right: 234px;
}

.grid-text h4{
    font-size: 22px;
    position: absolute;
    top: -25px;
    left: 10px;
}
.grid-text h4 p{
    color: #777;
    font-size: 17px;
    font-weight: 300;
    line-height: 31px;
    padding: 10px;
}
.border-line{
    border: 2px solid #3AB5C6;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 8px;
    position: relative;
    top: 22px;
    cursor: pointer;
    
}

.grid-hover a{
  
    list-style: none;
    text-decoration: none;
    color: #3AB5C6;

    
}

.our-service{
    width: 100%;
    height: 40vh;
    margin: auto;
    padding-top: 100px;
    position: absolute;
    top: 1850px;
}
/* 
.our h1{
    text-align: center;
}

.row-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;

    margin: 150px;
}
.our-col{
    border: 2px solid #3AB5C6;
    border-right: none;
    border-top: none;
    border-bottom: none;
    height: 50px;
    width: 11px;
    padding: auto;


}

.our-service .our h1{
    font-size: 36x;
} */






.our-service .our h1{
    font-size: 36x;
    text-align: center;
}


.row-1 .our-col h2 {
    font-size: 23px;
    font-weight: 300;
    line-height: 100%;
    line-height: 22px;
    margin: 2px 34px;
    margin-left: -118px;
}
.our-service .our .row-1 .our-col p {
    color:  #333333;
    border: 4px solid #3AB5C6;
    border-right: none;
    border-top: none;
    border-bottom: none;
    height: 50px;
    
    
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    line-height: 100%;
    padding: 10px;
    margin-left: 50px;
}



.our-col h2{
    text-align: center;
}

.our-col {
    flex-basis: 31%;
    text-align: left;
    margin-left: 24px;
    cursor: pointer;
}

.row-1 {
    margin-top: 16%;
    display: flex;
    justify-content: space-between;
    margin: 17px;
    text-align: left;
    margin-top: 100px;
}
.mp{
    position: relative;
    left: 10px;
}

.hero-btn-1 {
    display: inline-block;
    text-decoration: none;
    background-color: #3AB5C6;
    color: #fff;
    border: 1px solid #3AB5C6;
    border-radius: 10px;
    padding: 15px 53px;
    outline: none;
    border: none;
    position: relative;
    top: 73px;
    left: 511px;
    cursor: pointer;
    transition: background 1s ;
}

.hero-btn-1:hover{
    background: #137c8a;

}

.inform{
    width: 100%;
    height: 88vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./image/image9.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 2513px;
}

.row-2 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 85%;
    height: auto;
    text-align: center;
    /* margin-right: 92px; */
    position: absolute;
    left: 102px;
    top: 208px;
}

.people-info{
    width: 23px;
    height: 23px;
    margin: auto;
}

.info h1{
    text-align: center;
    color: #fff;
    margin-top: 63px;
    font-size: 45px;
    font-weight: lighter;    
}

.info-col h2 {
    margin-left: -36px;
    font-weight: bold;
}

.info-col h3 {
    margin-left: 6px;
    margin-top: -1px;
    font-weight: lighter;
    font-size: 13px;
    color: #3AB5C6;
}

.info-col {
    align-items: center;
    flex-basis: 31%;
    background: #fff;
    border-radius: 1px;
    margin-bottom: 5%;
    padding: 71px 12px;
    padding-bottom: 150px;
    padding-top: 9px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 20%);
    cursor: pointer;
}

.info-col img{
    margin-top: -81px;
}

.footer-container {
    position: absolute;
    top: 3400px;
}
.ftr {
    background-color: #11383E;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    margin-left: 0px;
    padding: 0;
}

.footer-heading h2{
    margin-bottom: 2rem;
    margin-left: 23px;
}

.social-icons{
    width: 23px;
    height: 23px;
}

#z1 {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
}

#z2 {
    display: flex;
    flex-direction: column;
    padding-left: 136px;
}

#z3 {
    display: flex;
    flex-direction: column;
    padding-left: 136px; 
}

#z4 {
    display: flex;
    flex-direction: column;
    padding-left: 135px;
    padding-right: 80px; 
}

#z1 h2{
    font-size: 15px;
    margin-left: 110px;
    margin-top: 56px;  
}

#z2 h2{
    margin-bottom: 2rem;
    margin-top: 50px;
    margin-left: 23px;  
}

#z3 h2{
    margin-bottom: 2rem;
    margin-top: 50px;
    margin-left: 23px;    
}

#z4 h2{
    margin-bottom: 2rem;
    margin-top: 50px;
    margin-left: 23px;   
}

#z1 a{
    color: #fff;
    text-decoration: none;
    position: absolute;
    margin-top: 50px;
}

#z2 a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 23px;
    font-family: 'pop';
    margin-left: 23px;   
}

#z3 a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 23px;
    font-family: 'pop';
    margin-left: 23px;  
}

#z4 a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 51px;
    font-family: 'pop';
    margin-left: 23px;
}

.ftr h4{
    margin: auto;
    font-family: auto;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 15px;
}